body {
  color: #000;
  font-family: "Trebuchet MS", serif;
}

a {
  color: $color-light;
  text-decoration: none;

  &:visited {
    color: $color-light;
  }
}

.link {
  color: initial;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: initial;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: #000;
  font-weight: normal;
}