body {
  color: #000;
  font-family: "Trebuchet MS", serif;
}

a {
  color: $color-light;
  text-decoration: none;

  &:visited {
    color: $color-light;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: #000;
  margin-top: 0;
  font-weight: normal;
}