@mixin flexbox($justifyContent:null, $alignItems:null) {
  display: flex;

  @if $justifyContent != null {
    justify-content: $justifyContent;
  }
  @if $alignItems != null {
    align-items: $alignItems;
  }
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

// Basic boxshadow
@mixin boxshadow() {
  -webkit-box-shadow: 2px 2px 8px 0 #cecece;
  box-shadow: 2px 2px 8px 0 #cecece;
}