{% extends 'mysite/base.html' %}
{% block content %}
    <main class="main main--centered container">
        <div class="grid">
            <div class="card">
                <header class="card__header">
                    <h1>Ranking graczy</h1>
                    <hr>
                </header>
                <section class="card__body">
                    <label for="seasons">Sezon</label>
                    <select name="seasons" id="seasons">
                        <option>20</option>
                        <option>21</option>
                    </select>

                    <h2>Legenda</h2>
                    {% include 'mysite/_statistics_legend.html' with legend=legend %}
                </section>
            </div>

            <table class="table">
                <thead class="table__head">
                <tr>
                    {% for category in player_ranking.0 %}
                        <th class="table__header">{{ category }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for player in player_ranking %}
                    <tr class="table__row">
                        {% for stat, value in player.items %}
                            <td class="table__cell">{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}