<dl class="dl">
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
        <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description"> ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description"> ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
        <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description"> ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
        <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description"> ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
    <div class="dl__cell">
        <dt class="dl__term">ST</dt>
        <dd class="dl__description">lorem ipsum</dd>
    </div>
</dl>