.header {
  background-color: $primary-color;
  border-bottom: 1px solid #232323;
  color: $color-light;
  height: $header-height;
  @include flexbox(center);

  &__container {
    @include flexbox(flex-end);
  }
}