.menu {
  &__list {
    height: 100%;
    display: flex;
    background-color: $primary-color;
  }

  &__item {
    min-width: 100px;

    &:hover .dropdown__header {
      color: $color-light-hover;
    }
  }

  &__link {
    height: 100%;
    @include flexbox(center, center);

    &:hover {
      color: $color-light-hover;
    }
  }
}