{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
    <main class="main container">
        <div class="grid grid--home">
            <div class="card">
                <h1>Koszykówka</h1>
            </div>

            <div class="card">
                <h2>Terminarz</h2>
                <hr>
            </div>

            <div class="card">
                <h2>Lorem ipsum</h2>
                <hr>
            </div>

            {% include 'components/_game-schedule.html' with games=games %}
        </div>
    </main>
{% endblock %}