{% extends 'mysite/base.html' %}
{% block content %}
    <main class="main main--centered container">
        <div class="grid grid--home">
            <div class="card">
                <h1>Lorem ipsum</h1>
            </div>

            <div class="card">
                <h2>Terminarz</h2>
                <hr>
            </div>

            <div class="card">
                <h2>Lorem ipsum</h2>
                <hr>
            </div>

            {% include 'mysite/_game-schedule.html' with games=games %}
        </div>
    </main>
{% endblock %}