{% extends 'mysite/base.html' %}
{% block content %}
    <main class="main main--centered container">
        <div class="grid">
            <div class="card">
                <h1>Sezon 2021 statystyki</h1>
                <hr>
                <label for="seasons">Sezon</label>
                <select name="seasons" id="seasons">
                    <option>20</option>
                    <option>21</option>
                </select>
            </div>
            {% include 'mysite/_table.html' %}
        </div>
    </main>
    {#    <ul>#}
    {#        {% for game in gamestats %}#}
    {#            <li>{{ game }}</li>#}
    {#        {% endfor %}#}
    {#    </ul>#}
    {#    <ul>#}
    {#        {% for game, value in test.items %}#}
    {#            <li>{{ value.wins }}</li>#}
    {#        {% endfor %}#}
    {#    </ul>#}
{% endblock %}