
.icon-home:before { content: '\e800'; } /* '' */
.icon-adult:before { content: '\e801'; } /* '' */
.icon-group:before { content: '\e802'; } /* '' */
.icon-trophy:before { content: '\e803'; } /* '' */
.icon-chart-bar:before { content: '\e804'; } /* '' */
.icon-basketball:before { content: '\e807'; } /* '' */